{% assign skills = site.data.data.skills %}
{% if skills %}
  {% if site.data.data.sidebar.skills %}
  <div class="skills-container container-block">

    <h2 class="container-block-title">
      Skills
    </h2>

    {% for skill in skills %}
    <div class="item">
      <h4 class="type">{{ skill.type }}</h4>
      <h5 class="skillset">{{ skill.skillset }}</h5>
    </div><!--//item-->
    {% endfor %}

  </div><!--//skills-container-->
  {% else %}
  <section class="section skills-section">

    <h2 class="section-title">
      <span class="fa-stack fa-xs">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-skill-cap fa-stack-1x fa-inverse"></i>
      </span>
      Skills
    </h2>

    {% for skill in skills %}
    <div class="item">

      <div class="upper-row">
        <h3 class="type">{{ skill.type }}</h3>
        <div class="skillset">{{ skill.skillset }}</div>
      </div><!--//upper-row-->

    </div><!--//item-->
    {% endfor %}

  </section><!--//section-->
  {% endif %}
{% endif %}
